.die {
	width: 36px;
	height: 36px;
	border-radius: 4px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	line-height: 36px;
	font-size: 1.2rem;
	color: #2b283a;
	font-weight: 700;
	cursor: pointer;
}
.unknown.die {
	cursor: default;
}
